.hide {
    text-indent: -999999px;
    font-size: 0;
}

.button {
    border: 0;
    color: $black;
    font-family: 'Panama';
    font-weight: 600;
}

.card {
    background: white;
    padding: 5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}