body {
    background-color: $black;
}

header {
    &.main-header {
        padding-top: 15px;
        margin-top: 7px;
    }
}

nav {
    text-align: center;
    &.main-nav {
        ul {
            padding-left: 0px;
            @include main-link($black);
        }
    }
}

footer {
    width: 100%;
    height: 25px;
    font-size: 12px;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    padding: 5px 0;
    @include main-link($black);
}

ul {
    list-style: none;
}

section.container {
    margin-top: 15px;
}

a[href].btn-primary {
    outline: none;
}

.logo {
    height: 55px;
    margin: 0px auto;
    background: url("http://www.chanel.com/img/logo_chanel.svg") scroll no-repeat top left;
    background-size: 185px;
    background-position: center;
}